.bg-normal {
  background: #76aadb;
}

.bg-fire,
.bg-fighting,
.bg-dragon {
  background: #f76545;
}

.bg-water,
.bg-ice {
  background: #a2cff0;
}

.bg-electric {
  background: #f7c545;
}

.bg-grass,
.bg-bug {
  background: #70a83b;
}

.bg-poison,
.bg-ghost,
.bg-psychic,
.bg-fairy {
  background: #a974bc;
}

.bg-ground {
  background: #9b897b;
}

.bg-flying {
  background: #a98ff3;
}

.bg-rock,
.bg-steel,
.bg-dark {
  background: #a1a1a1;
}

.bg-white-light {
  background: #fdfdfd;
}

.bg-btn-primary {
  background: #73d677;
}
